@import "_custom-properties.css";

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/

/*
 * Available block selectors:
 * .wp-block-image
 * .wp-block-media-text
 * .wp-block-gallery
 * .wp-block-audio
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-cover
 * .wp-block-file
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse
 * .wp-block-table
 * .wp-block-separator
 * .wp-block-columns
 * .wp-block-column
 * .wp-block-latest-posts
 * .wp-block-categories
 * .wp-block-archives
 */

/* .wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 1.5em auto;
	padding: 0 1em;
}

.entry-content > .wp-block-quote,
.entry-content > .wp-block-quote.is-style-large {
	margin-left: 1.5rem;
}

@media (--content-query) {
	.entry-content > .wp-block-quote,
	.entry-content > .wp-block-quote.is-style-large {
		margin-left: auto;
	}
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	border-left-color: var(--color-quote-citation);
}

.wp-block-cover {
	display: flex;
	align-items: center;
}

.wp-block-cover__inner-container > * {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}

.wp-block-cover .wp-block-cover-text,
.wp-block-cover p {
	margin-top: 0;
}

.wp-block-latest-posts,
.wp-block-latest-comments {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignfull {
	padding: 0 1.5em;
} */

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

/* .wp-block-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 0.5em;
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
} */

/* Override standard ul indentation. */

/* .entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {
	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}

.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

.wp-block-gallery.columns-3 .blocks-gallery-item:last-child:nth-child(3n),
.wp-block-gallery.columns-5 .blocks-gallery-item:last-child:nth-child(5n),
.wp-block-gallery.columns-7 .blocks-gallery-item:last-child:nth-child(7n),
.wp-block-gallery.columns-9 .blocks-gallery-item:last-child:nth-child(9n) {
	grid-column: span 1;
}

@media screen and (min-width: 40em) {
	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
} */

pre.wp-block-code,
pre.wp-block-verse,
pre.wp-block-preformatted {
	max-width: 1200px;
	width: 100%;
}
.wp-block-media-text,
figure.wp-block-audio {
	margin: 0 0 1.6875rem;
}
ul.wp-block-gallery {
	margin-left: 0;
}
blockquote.wp-block-pullquote {
	color: #4d5c6d;
	border-top: 1px solid var(--color-layout-border-3);
	border-bottom: 1px solid var(--color-layout-border-3);
	padding: 2em 0;
}
blockquote.wp-block-pullquote p {
	font-size: 24px;
	line-height: 1.4;
	font-weight: inherit;
	margin-bottom: 0;
}
blockquote.wp-block-pullquote cite {
	font-style: italic;
	font-weight: inherit;
	font-size: 15px;
	margin-top: 1.25em;
	text-transform: none;
	display: inline-block;
}
p.has-background {
	padding: 30px;
}
figure.wp-block-audio audio {
	width: 100%;
}
figure.wp-block-audio figcaption {
	color: var(--font-color-2);
}
figure.wp-block-video video {
	width: 100%;
}
figure.wp-block-video figcaption {
	color: var(--font-color-2);
}
pre.wp-block-code {
	padding: 20px;
}
pre.wp-block-code code {
	font-size: 14px;
	line-height: 1.5;
}
table.wp-block-table {
	display: table;
}
/* .wp-block-columns {
	margin-left: -10px;
	margin-right: -10px;
} */
.wp-block-columns p {
	padding-left: 10px;
	padding-right: 10px;
}
hr.wp-block-separator {
	border-color: transparent;
	height: 1px;
	border-bottom: 0;
	background-color: var(--color-layout-border);
}
.wp-block-categories.aligncenter {
	text-align: inherit;
}
.wp-block-categories ul {
	list-style: none;
	text-align: left;
	margin-left: 0;
}
.wp-block-categories ul li.cat-item {
	font-size: 14px;
}
.wp-block-categories ul li.cat-item a {
	color: var(--font-color-2);
}
.wp-block-categories ul li.cat-item a:hover {
	color: var(--color-primary);
}
.wp-block-categories ul li.cat-item ul {
	padding-left: 2em;
}
ul.wp-block-latest-posts {
	list-style: none;
	margin-left: 0;
}
ul.wp-block-latest-posts li {
	text-align: left;
}
ul.wp-block-latest-posts li a {
	color: var(--font-color-2);
	font-size: 14px;
}
ul.wp-block-latest-posts li a:hover {
	color: var(--color-primary);
}
ul.wp-block-latest-posts li .wp-block-latest-posts__post-date {
	font-size: 12px;
	color: var(--font-color-2);
}
figure.wp-block-embed {
	margin: 0;
}
.entry-content .wp-block-embed .fluid-width-video-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}

.wp-block-table.is-style-stripes {
	border: 0;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
	border-color: var(--color-layout-border-2);
	padding: 1rem;
}
.wp-block-table th:first-child,
.wp-block-table td:first-child {
	padding-left: 1rem;
}
.wp-block-table th:last-child,
.wp-block-table td:last-child {
	padding-right: 1rem;
}
table.wp-block-table.is-style-regular {
	border-top: 1px solid var(--color-layout-border);
}
.entry-content img {
	vertical-align: bottom;
}
.entry-content .emoji,
.entry-content .emojioneemoji {
	vertical-align: middle;
}
body .wp-block-cover-image h2,
body .wp-block-cover-image .wp-block-cover-image-text,
body .wp-block-cover-image .wp-block-cover-text,
body .wp-block-cover h2,
body .wp-block-cover .wp-block-cover-image-text,
body .wp-block-cover .wp-block-cover-text {
	font-size: 2.5em;
}
.wp-block-embed-wordpress-tv .wp-block-embed__wrapper {
	width: 100%;
	position: relative;
	padding-top: 56.25%;
}
.wp-block-embed-wordpress-tv iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wp-block-social-links {
	margin: 1.6875rem 0;
}

.wp-block-calendar table {
	background: var(--color-layout-1);
	margin-bottom: 0;
}

.wp-block-calendar table caption {
	padding: 30px;
	font-size: 20px;
	margin-top: 30px;
	background: var(--color-primary);
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

.wp-block-calendar tbody td,
.wp-block-calendar th {
	padding: 15px;
	border: 0;
	text-align: center;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: var(--color-layout-3);
}

.wp-block-calendar table th {
	background: transparent;
	border-bottom: 1px solid var(--color-layout-border);
}

.wp-block-calendar .wp-calendar-nav {
	text-align: left;
	padding: 15px 30px;
	background: var(--color-primary);
	color: #fff;
	border-radius: 0 0 5px 5px;
}

.wp-block-calendar .wp-calendar-nav a {
	text-decoration: none;
}

.wp-block-calendar tbody td#today {
	background: var(--color-primary);
	color: #fff;
	font-weight: 700;
	border-radius: 3px;
}

.ppop-content-wrap.sidebar-none .alignfull {
	width: calc(100vw - 9px);
	margin-left: -webkit-calc(-50vw + 50%);
	margin-left: calc(-50vw + 50%);
}

@media (min-width: 768px) {
	.ppop-content-wrap.sidebar-none .alignwide {
		margin: 32px calc(25% - 25vw);
		max-width: 100vw;
	}
}

/*Gutenburg Default Colors*/
/* .wp-block-button.is-style-outline .wp-block-button__link.has-primary-color,
.wp-block-button .wp-block-button__link.has-primary-color,
.has-primary-color {
	color: #ff5a6e;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-primary-color,
.wp-block-button .wp-block-button__link.has-primary-color,
.has-primary-background-color {
	background-color: #ff5a6e;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-secondary-color,
.wp-block-button .wp-block-button__link.has-secondary-color,
.has-secondary-color {
	color: #ff8a6e;
}

.wp-block-button.is-style-outline
	.wp-block-button__link.has-secondary-background-color,
.wp-block-button .wp-block-button__link.has-secondary-background-color,
.has-secondary-background-color {
	background-color: #ff8a6e;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-blue-color,
.wp-block-button .wp-block-button__link.has-blue-color,
.has-blue-color {
	color: #2196f3;
}

.wp-block-button.is-style-outline
	.wp-block-button__link.has-blue-background-color,
.wp-block-button .wp-block-button__link.has-blue-background-color,
.has-blue-background-color {
	background-color: #2196f3;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-black-color,
.wp-block-button .wp-block-button__link.has-black-color,
.has-black-color {
	color: #000;
}

.wp-block-button.is-style-outline
	.wp-block-button__link.has-black-background-color,
.wp-block-button .wp-block-button__link.has-black-background-color,
.has-black-background-color {
	background-color: #000;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-white-color,
.wp-block-button .wp-block-button__link.has-white-color,
.has-white-color {
	color: #fff;
}

.wp-block-button.is-style-outline
	.wp-block-button__link.has-white-background-color,
.wp-block-button .wp-block-button__link.has-white-background-color,
.has-white-background-color {
	background-color: #fff;
} */

/*Gutenburg Buttons*/
.wp-block-button__link {
	font-size: 15px;
	color: #fff;
	background: #ff5a6e;
	border-radius: 3px;
	padding: 10px 30px;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	line-height: 1.3;
	outline: none;
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.wp-block-button__link:hover {
	outline: none;
	text-decoration: none;
	color: #fff;
	box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.1);
}

.wp-block-button.is-style-outline .wp-block-button__link {
	color: #ff5a6e;
	background: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
	color: #fff;
	background: #ff5a6e;
}
