/*///////////////////////////////////*/
/*BBpress*/
/*//////////////////////////////////*/

#bbpress-forums {
	font-size: 16px;
}

#bbpress-forums .bbp-breadcrumb {
	order: 1;
	float: none;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}

#bbpress-forums li.bbp-header {
	background: transparent;
	border: 0;
	padding: 0;
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums ul.bbp-topics {
	font-size: 16px;
}

#bbpress-forums li.bbp-header .forum-titles {
	display: flex;
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums ul.bbp-topics {
	background: #fff;
	border-radius: 5px;
	border: var(--layout-border);
}

#bbpress-forums fieldset.bbp-form input[type="text"],
#bbpress-forums fieldset.bbp-form select {
	height: 40px;
	display: inline-block;
	font-family: inherit;
	font-style: inherit;
	font-size: 15px;
	outline: none;
	vertical-align: middle;
	background-color: var(--color-layout-1);
	border: var(--layout-border-2);
	border-radius: 3px;
	box-shadow: none;
	padding: 0 12px;
	color: var(--font-color);
	width: 100%;
}

#bbpress-forums fieldset.bbp-form input[type="checkbox"],
#bbpress-forums fieldset.bbp-form input[type="radio"] {
	margin-right: 25px;
}

#bbpress-forums .quicktags-toolbar {
	border-bottom: var(--layout-border-2);
	background: var(--color-layout-3);
	color: var(--font-color);
	padding: 10px;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 10px;
}

#bbpress-forums div.bbp-the-content-wrapper input[type="button"],
.quicktags-toolbar input[type="button"] {
	color: var(--font-color);
	font-size: 12px;
	font-weight: 800;
}

.bbp-pagination {
	font-size: 14px;
	color: var(--font-color-2);
}

div.bbp-breadcrumb {
	float: none;
	color: var(--font-color);
	font-weight: 700;
	font-size: 12px;
	margin-top: -15px;
}

div.bbp-breadcrumb a {
	color: var(--font-color);
	opacity: 0.7;
	transition: 0.3s;
}

div.bbp-breadcrumb a:hover {
	color: var(--color-primary);
}

div.bbp-breadcrumb span.bbp-breadcrumb-current {
	opacity: 0.4;
}

/*FORUM ARCHIVE*/

body.forum-archive .site-content {
	padding-top: 0;
}

.ppop-bbp-forum-archive-head {
	position: relative;
	overflow: hidden;
	display: block;
	width: calc(100vw);
	margin-left: -webkit-calc(-50vw + 50%);
	padding: 50px 0;
	margin-bottom: 30px;
	text-align: center;
	border-bottom: var(--layout-border);
	box-shadow: inset 0 0 0 99999px rgb(0 0 0 / 3%);
}

.ppop-dark-theme .ppop-bbp-forum-archive-head {
	box-shadow: inset 0 0 0 99999px rgb(0 0 0 / 10%);
}

.ppop-bbp-forum-archive-head h1.ppop-post-title {
	font-size: 32px;
	text-transform: uppercase;
}

.bbp-search-form form#bbp-search-form > div {
	display: flex;
	max-width: 500px;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.bbp-search-form form#bbp-search-form > div input[type="text"] {
	height: 40px;
	border-radius: 5px 0 0 5px;
	border-right: 0;
}

.bbp-search-form form#bbp-search-form > div input#bbp_search_submit {
	height: 40px;
	border-radius: 0 5px 5px 0;
}

.forum-archive.bbpress #bbpress-forums li a.bbp-forum-title {
	color: var(--heading-color);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	display: block;
}

.forum-archive.bbpress #bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
	font-size: 15px;
	color: var(--font-color);
	opacity: 0.6;
	margin: 0;
}

.forum-archive.bbpress
	#bbpress-forums
	li.bbp-body
	ul.forum
	li.bbp-forum-freshness
	a {
	color: var(--font-color);
	font-size: 14px;
}

#bbpress-forums .ppop-bbp-forums {
	display: flex;
	flex-wrap: wrap;
}

#bbpress-forums .ppop-bbp-forums li.forum {
	width: calc(33.333% - 15px);
	margin: 7.5px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-radius: 5px;
	overflow: hidden;
}

.ppop-bbp-forums li.forum .ppop-forum-featured-img {
	position: relative;
	overflow: hidden;
	padding-top: 55%;
	display: block;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.ppop-bbp-forums li.forum .ppop-forum-featured-img img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 0;
	min-height: 100%;
	width: auto;
	min-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.bbp-forum-info {
	padding: 25px;
}

.ppop-forum-meta {
	font-size: 12px;
	color: var(--font-color-2);
	margin-bottom: 15px;
}

.ppop-forum-meta span {
	margin-right: 5px;
}

#bbpress-forums .ppop-bbp-forums .bbp-forums-list {
	margin-top: 15px;
	border: 0;
}

.ppop-forum-activity,
.ppop-forum-activity a {
	font-size: 12px;
	color: var(--font-color-2);
	margin-top: 15px;
}

.forum-archive #bbpress-forums {
	margin: -7.5px;
}

.ppop-bbp-forum-archive-head .bbp-breadcrumb {
	margin-top: -15px;
}

@media (max-width: 992px) {
	#bbpress-forums .ppop-bbp-forums li.forum {
		width: calc(50% - 15px);
	}
}

@media (max-width: 767px) {
	#bbpress-forums .ppop-bbp-forums li.forum {
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
	}

	.forum-archive #bbpress-forums {
		margin: 0;
	}
}

/*Topic Archive*/

#bbpress-forums #subscription-toggle a.subscription-toggle,
#bbpress-forums .ppop-new-topic-toggle-button,
#bbpress-forums .ppop-new-reply-toggle-button,
#bbpress-forums #favorite-toggle .favorite-toggle,
#subscription-toggle a.subscription-toggle,
.ppop-new-topic-toggle-button,
.ppop-new-reply-toggle-button,
#favorite-toggle .favorite-toggle {
	font-family: inherit;
	font-size: 15px;
	color: var(--color-primary);
	border-radius: 3px;
	padding: 7px 20px;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	line-height: 1.3;
	border: 2px solid var(--color-primary);
	outline: none;
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.ppop-bbp-forum-buttons .ppop-new-topic-toggle-button-wrap {
	margin-right: auto;
}

#bbpress-forums .ppop-new-topic-toggle-button,
#bbpress-forums .ppop-new-reply-toggle-button,
.ppop-new-topic-toggle-button,
.ppop-new-reply-toggle-button {
	background: var(--color-primary);
	color: #fff;
	position: relative;
	padding-right: 40px;
}

#bbpress-forums .ppop-new-reply-toggle-button,
.ppop-new-reply-toggle-button {
	padding-right: 20px;
}

#bbpress-forums .ppop-new-reply-toggle-button:hover,
.ppop-new-reply-toggle-button:hover {
	outline: none;
	text-decoration: none;
	color: #fff;
	box-shadow: inset 0 0 0 99999px rgb(0 0 0 / 10%);
}

#bbpress-forums .ppop-new-topic-toggle-button i,
.ppop-new-topic-toggle-button i {
	position: absolute;
	top: 6.5px;
	font-size: 18px;
	margin-left: 5px;
}

#bbpress-forums #subscription-toggle a.subscription-toggle:hover,
#bbpress-forums #favorite-toggle a.favorite-toggle:hover,
#subscription-toggle a.subscription-toggle:hover,
#favorite-toggle a.favorite-toggle:hover {
	background: var(--color-primary);
	color: #fff;
}

#bbpress-forums .ppop-bbp-topics li.topic {
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

#bbpress-forums #favorite-toggle,
#bbpress-forums #subscription-toggle {
	float: none;
}

.ppop-bbp-topic-author-avatar {
	width: 50px;
}

#bbpress-forums .ppop-bbp-topic-author-avatar .avatar {
	margin: 0;
	border-radius: 50%;
}

.ppop-bbp-topic-content {
	width: calc(100% - 50px);
	padding-left: 25px;
}

.ppop-bbp-topic-meta a:hover,
.ppop-bbp-topic-meta span.bbp-topic-started-by a:hover {
	color: var(--color-primary);
}

#bbpress-forums .ppop-bbp-topics li.topic .bbp-topic-title {
	margin: 5px 0;
}

#bbpress-forums .ppop-bbp-topics li.topic .bbp-topic-title a {
	color: var(--heading-color);
	font-size: 20px;
}

.ppop-bbp-topic-meta,
.ppop-bbp-topic-meta a {
	font-size: 14px;
	color: var(--font-color-2);
}

.ppop-bbp-topic-meta > span {
	margin-right: 15px;
	opacity: 0.7;
	line-height: 20px;
	height: 20px;
	display: inline-block;
}

.ppop-bbp-topic-meta,
.ppop-bbp-topic-meta a {
	font-size: 14px;
	color: var(--font-color-2);
}

.ppop-bbp-topic-meta span.bbp-topic-started-by,
.ppop-bbp-topic-meta span.bbp-topic-started-by a {
	color: var(--font-color);
}

.ppop-bbp-topic-meta > span i {
	position: relative;
	top: 1px;
	color: var(--font-color);
	font-weight: 600;
	opacity: 0.7;
}

.ppop-bbp-forum-buttons {
	margin-bottom: 15px;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	border: var(--layout-border);
	border-radius: 5px;
}

#bbpress-forums
	.ppop-bbp-forum-buttons
	#subscription-toggle
	a.subscription-toggle {
	padding: 0;
	border: 0;
	position: relative;
	top: 1px;
	line-height: 39px;
	font-size: 10px;
	color: #777;
	overflow: hidden;
	transition: 0.3s;
	text-transform: uppercase;
	font-weight: 700;
}

#bbpress-forums
	.ppop-bbp-forum-buttons
	#subscription-toggle
	a.subscription-toggle:hover {
	background: transparent;
	color: #777;
	transition: width 1s ease-in-out;
	color: var(--color-primary);
}

#bbpress-forums
	.ppop-bbp-forum-buttons
	#subscription-toggle
	a.subscription-toggle:before {
	content: "\e9e1";
	content: "\e91e";
	font-family: "feather-icon" !important;
	speak-as: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	top: 4.5px;
	font-size: 19px;
	padding: 0 10px;
	padding-right: 5px;
	font-weight: normal;
	cursor: pointer;
}

#bbpress-forums
	.ppop-bbp-forum-buttons
	#subscription-toggle
	.is-subscribed
	a.subscription-toggle:before {
	color: var(--color-primary);
}

.ppop-bbp-forum-buttons #subscription-toggle,
.ppop-bbp-forum-buttons #favorite-toggle {
	margin-right: 10px;
}

@media (max-width: 767px) {
	.ppop-bbp-forum-buttons {
		justify-content: flex-start;
	}
}

/*Create Topic Form*/
.single-forum #bbpress-forums .bbp-topic-form {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	z-index: 99999;
	padding: 30px;
	background: rgb(17 17 17 / 90%);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	display: none;
}

#bbpress-forums .bbp-topic-form.active {
	display: block;
}

#bbpress-forums .bbp-topic-form form#new-post {
	padding: 25px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-radius: 5px;
	width: 100%;
}

.single-forum .bbp-topic-form form#new-post {
	max-width: 700px;
	margin: auto;
	position: relative;
}

.ppop-close-new-topic {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 18px;
	background: #f3f9f7;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 600;
	color: var(--font-color-2);
}

#bbpress-forums .bbp-topic-form fieldset.bbp-form {
	padding: 0;
	border: 0;
	margin: 0;
}

#bbpress-forums fieldset.bbp-form label {
	font-weight: 600;
	color: var(--font-color-2);
	margin: 0.5em 0;
	margin-top: 6px;
}

#bbpress-forums div.wp-editor-container {
	overflow: hidden;
	font-family: inherit;
	font-style: inherit;
	font-size: 15px;
	outline: none;
	vertical-align: middle;
	background-color: var(--color-layout-1);
	border: var(--layout-border-2);
	border-radius: 3px;
	box-shadow: none;
	color: var(--font-color);
	width: 100%;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	font-size: 15px;
	font-family: inherit;
	padding: 12px;
}

/*Single Topic*/
body.single-topic span#subscription-toggle {
	color: transparent;
	margin-left: -13px;
}

body.single-topic .ppop-post-title {
	padding: 20px;
	padding-bottom: 0;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-radius: 5px 5px 0 0;
	margin: 0;
	border-bottom: 0;
}

body.single-topic .bbp-breadcrumb {
	padding: 12px 20px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-radius: 0;
	margin: 0;
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body.single-topic .bbp-breadcrumb > p {
	margin: 0;
}

.bbp-single-topic-body {
	padding: 20px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	margin-bottom: 15px;
	border-radius: 5px;
	padding-bottom: 15px;
}

.ppop-lead-topic .bbp-single-topic-body {
	border-top: 0;
	border-radius: 0 0 5px 5px;
}

.ppop-bbp-topic-author {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50px;
	padding-left: 60px;
	position: relative;
	width: 100%;
}

.ppop-bbp-single-topic-author-avatar {
	position: absolute;
	left: 0;
}

.ppop-bbp-single-topic-author-avatar img {
	border-radius: 50%;
}

.ppop-bbp-single-topic-post-date {
	font-size: 13px;
	color: var(--font-color-2);
}

.ppop-bbp-single-topic-author-name a {
	color: var(--font-color);
}

.ppop-bbp-single-topic-author-name a:hover {
	color: var(--color-primary);
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd,
#bbpress-forums div.even,
#bbpress-forums ul.even {
	background: transparent;
}

.ppop-bbp-meta {
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
	position: relative;
	margin-top: 20px;
}

.ppop-bbp-meta:before {
	content: "";
	width: calc(100% + 40px);
	height: 1px;
	background: var(--color-layout-border);
	top: 0;
	position: absolute;
	left: -20px;
}

.ppop-bbp-meta .bbp-reply-permalink,
.ppop-bbp-meta .bbp-topic-permalink {
	margin-right: auto;
	line-height: 30px;
	color: var(--font-color-2);
}

.ppop-bbp-meta .ppop-single-reply-reply-button {
	margin-right: 15px;
}

#bbpress-forums span.ppop-single-reply-reply-button a.bbp-reply-to-link,
#bbpress-forums span.ppop-single-reply-reply-button a.bbp-topic-reply-link {
	height: 30px;
	line-height: 30px;
	display: block;
	text-align: center;
	transition: 0.3s;
	padding: 0 15px;
	font-size: 14px;
	background: var(--color-layout-3);
	border-radius: 5px;
	color: var(--font-color);
	font-weight: 600;
}

#bbpress-forums span.ppop-single-reply-reply-button a.bbp-reply-to-link:hover,
#bbpress-forums
	span.ppop-single-reply-reply-button
	a.bbp-topic-reply-link:hover {
	color: #fff;
	background: var(--color-primary);
}

.ppop-single-reply-more-links {
	position: absolute;
	flex-direction: column;
	background: var(--font-color);
	z-index: 9;
	border-radius: 4px;
	right: 0;
	display: none;
	padding: 5px 0;
}

.ppop-single-reply-more:hover .ppop-single-reply-more-links {
	display: flex;
}

.ppop-single-reply-more:hover .ppop-single-reply-more-links a:hover {
	color: var(--color-primary);
}

.ppop-single-reply-more-links:before {
	content: " ";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: 11px;
	border: 7px solid black;
	border-color: var(--font-color) var(--font-color) transparent transparent;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-shadow: 2px -3px 3px 0 rgb(0 0 0 / 2%);
	z-index: 1002;
}

.ppop-single-reply-more-links:after {
	content: "";
	width: 100%;
	height: 15px;
	position: absolute;
	top: -15px;
}

.ppop-single-reply-more-links a {
	padding: 5px 15px;
	color: var(--color-layout-3);
	font-size: 14px;
}

.ppop-single-reply-more {
	position: relative;
	height: 30px;
}

span.ppop-single-reply-more i {
	line-height: 29px;
	font-size: 31px;
}

.ppop-bbp-lead-topic-buttons {
	padding: 10px 20px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-top: 0;
	display: flex;
	flex-wrap: wrap;
}

.ppop-bbp-lead-topic-buttons #subscription-toggle a.subscription-toggle,
.ppop-bbp-lead-topic-buttons span#favorite-toggle a.favorite-toggle {
	padding: 0;
	border: 0;
	position: relative;
	top: 1px;
	line-height: 39px;
	font-size: 10px;
	color: #777;
	overflow: hidden;
	transition: 0.3s;
	text-transform: uppercase;
	font-weight: 700;
}

.ppop-bbp-lead-topic-buttons span#favorite-toggle a.favorite-toggle {
	top: 2px;
}

.ppop-bbp-lead-topic-buttons #subscription-toggle a.subscription-toggle {
	margin-right: 15px;
}

.ppop-bbp-lead-topic-buttons .ppop-post-share-buttons {
	margin-left: 5px;
}

.ppop-bbp-lead-topic-buttons .ppop-new-reply-toggle-button-wrap {
	margin-right: auto;
}

/* body.single-topic .ppop-bbp-lead-topic-buttons #subscription-toggle {
	margin-left: auto;
} */

.ppop-bbp-lead-topic-buttons #subscription-toggle a.subscription-toggle:hover,
.ppop-bbp-lead-topic-buttons span#favorite-toggle a.favorite-toggle:hover {
	background: transparent;
	color: #777;
	transition: width 1s ease-in-out;
	color: var(--color-primary);
}

.ppop-bbp-lead-topic-buttons #subscription-toggle a.subscription-toggle:before,
.ppop-bbp-lead-topic-buttons span#favorite-toggle a.favorite-toggle:before {
	content: "\e91e";
	font-family: "feather-icon" !important;
	speak-as: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	top: 4.5px;
	font-size: 19px;
	padding: 0;
	padding-right: 5px;
	font-weight: normal;
	cursor: pointer;
}

.ppop-bbp-lead-topic-buttons span#favorite-toggle a.favorite-toggle:before {
	content: "\e9e1";
	top: 3.5px;
}

.ppop-bbp-lead-topic-buttons
	span#subscription-toggle
	.is-subscribed
	a.subscription-toggle:before,
.ppop-bbp-lead-topic-buttons
	span#favorite-toggle
	.is-favorite
	a.favorite-toggle:before {
	color: var(--color-primary);
}

#bbpress-forums fieldset.bbp-form {
	border: 0;
	padding: 0;
	margin: 0;
}

#bbpress-forums fieldset.bbp-form legend {
	padding: 0;
	margin-bottom: 15px;
	font-size: 18px;
}

.bbp-reply-form {
	padding: 25px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-radius: 5px;
	position: relative;
}

body.single-topic .bbp-reply-form {
	margin-top: 75px;
}

body.single-topic .bbp-reply-form:before {
	content: "";
	width: 100%;
	height: 1px;
	background: var(--color-layout-border);
	position: absolute;
	left: 0;
	top: -25px;
}

@media (max-width: 768px) {
	.ppop-bbp-lead-topic-buttons {
		padding-bottom: 0;
	}

	.ppop-bbp-lead-topic-buttons > span {
		margin-bottom: 10px;
		display: inline-block;
	}
}

@media (max-width: 400px) {
	.ppop-bbp-lead-topic-buttons #subscription-toggle a.subscription-toggle,
	.ppop-bbp-lead-topic-buttons span#favorite-toggle a.favorite-toggle {
		font-size: 0.1px;
		top: 3px;
	}

	.ppop-bbp-lead-topic-buttons span#favorite-toggle a.favorite-toggle {
		font-size: 0.1px;
		top: 4px;
	}
}

/*BBpress Forms*/
body.topic-edit #bbpress-forums .bbp-topic-form form#new-post {
	margin-top: 30px;
}

body.topic-edit #bbpress-forums .bbp-topic-form form#new-post {
	margin-top: 0;
	border-radius: 0 0 5px 5px;
	border-top: 0;
}

body.reply-edit #bbpress-forums fieldset.bbp-form legend {
	display: none;
}

form#merge_topic,
form#move_reply,
form#split_topic {
	padding: 20px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-top: 0;
	border-radius: 5px;
}

form#merge_topic,
form#split_topic {
	border-top: 0;
	border-radius: 0 0 5px 5px;
}

/*BBpress Profile*/

body.bbp-user-page .ppop-post-title,
body.bbp-user-edit .ppop-post-title {
	position: absolute;
	font-size: 0.1px;
	left: -3000px;
}

#bbpress-forums #bbp-user-wrapper {
	float: none;
	display: flex;
	flex-wrap: wrap;
}

#bbpress-forums #bbp-single-user-details {
	float: none;
	width: 300px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-radius: 5px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	width: 100%;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

#bbpress-forums #bbp-user-body {
	width: calc(100% - 300px);
	margin: 0;
	padding-left: 15px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	border-top: var(--layout-border);
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li a {
	display: block;
	padding: 0 15px;
	padding-left: 54px;
	color: var(--font-color-2);
	height: 50px;
	line-height: 50px;
	position: relative;
	transition: 0.3s;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: transparent;
	opacity: 1;
	color: var(--font-color);
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li a:before {
	display: inline-block;
	font-family: "feather-icon" !important;
	speak-as: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e968";
	opacity: 0.25;
	margin-right: 15px;
	font-size: 20px;
	position: absolute;
	left: 20px;
	line-height: 47px;
	color: var(--font-color);
	transition: 0.3s;
}

#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li.current
	a:before,
#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li
	a:hover:before {
	opacity: 1;
}

#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li
	.vcard.bbp-user-profile-link
	a:before {
	content: "\ea00";
}

#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li
	.bbp-user-topics-created-link
	a:before {
	content: "\e95d";
}

#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li
	.bbp-user-replies-created-link
	a:before {
	content: "\e999";
}

#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li
	.bbp-user-engagements-created-link
	a:before {
	content: "\ea05";
}

#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li
	.bbp-user-favorites-link
	a:before {
	content: "\e9e1";
}

#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li
	.bbp-user-subscriptions-link
	a:before {
	content: "\e91e";
}

#bbpress-forums
	#bbp-single-user-details
	#bbp-user-navigation
	li
	.bbp-user-edit-link
	a:before {
	content: "\e95b";
}

div#ppop-bbp-user-details {
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 0 99999px rgb(0 0 0 / 10%);
}

.ppop-light-theme div#ppop-bbp-user-details {
	box-shadow: none;
	background: #f7fafe;
}

span.ppop-bbp-profile-display-name {
	margin-bottom: 5px;
}

span.ppop-bbp-profile-username {
	color: var(--font-color-2);
}

.bbp-user-section-profile.ppop-layout-box {
	margin-bottom: 15px;
}

#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset select,
#bbpress-forums #bbp-your-profile fieldset textarea {
	height: 40px;
	display: inline-block;
	font-family: inherit;
	font-style: inherit;
	font-size: 15px;
	outline: none;
	vertical-align: middle;
	background-color: var(--color-layout-1);
	border: var(--layout-border-2);
	border-radius: 3px;
	box-shadow: none;
	padding: 0 12px;
	color: var(--font-color);
	width: 100%;
}

#bbpress-forums #bbp-your-profile fieldset textarea {
	height: auto;
	padding: 12px;
}

#bbpress-forums #bbp-your-profile fieldset {
	padding: 0;
}

#bbpress-forums #bbp-your-profile fieldset label[for] {
	text-align: left;
	width: 100%;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password {
	width: 100%;
	margin-top: 15px;
	margin-left: 0;
}

#bbpress-forums .password-button-wrapper .wp-hide-pw .text {
	display: none;
}

#bbpress-forums
	.password-input-wrapper
	input#pass1[type="text"]
	+ .wp-hide-pw
	i:before {
	content: "\e960";
}

#bbpress-forums
	.password-input-wrapper
	input#pass1[type="password"]
	+ .wp-hide-pw
	i:before {
	content: "\e95f";
}

#bbpress-forums .password-input-wrapper .wp-hide-pw {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	background: transparent;
	padding: 0 12px;
	line-height: 40px;
	color: var(--font-color);
}

#bbpress-forums .password-input-wrapper {
	position: relative;
}

.password-input-feild {
	width: 100%;
	position: relative;
	display: inline-block;
}

#bbpress-forums .password-input-wrapper .wp-hide-pw:hover {
	box-shadow: none;
}

#bbpress-forums #password #pass-strength-result.empty {
	display: none !important;
}

#bbpress-forums #password #pass-strength-result {
	width: calc(100% - 110px);
}

#bbpress-forums
	#bbp-your-profile
	fieldset
	fieldset.password
	.password-input-wrapper {
	display: flex;
}

.button.wp-cancel-pw {
	width: 100px;
	margin-left: 10px;
}

#bbpress-forums #bbp-your-profile fieldset .pw-weak label {
	width: auto;
	height: 40px;
	line-height: 30px;
}

#bbpress-forums
	#bbp-your-profile
	fieldset
	.pw-weak
	.description.indicator-hint {
	color: var(--font-color);
	margin-left: 6px;
	position: relative;
	top: 1px;
}

#bbpress-forums #bbp-your-profile fieldset .pw-weak .description.indicator-hint,
#bbpress-forums #bbp-your-profile fieldset .pw-weak input {
	cursor: pointer;
}

#bbpress-forums #bbp-your-profile fieldset.submit {
	margin: 0;
	padding: 0;
	border: 0;
	padding: 20px 15px;
	margin: -15px;
	border-radius: 0 0 5px 5px;
	border-top: var(--layout-border);
}

#bbpress-forums #bbp-your-profile fieldset.submit div {
	margin: 0;
}

#bbpress-forums div#bbp-user-topics-started,
#bbpress-forums div#bbp-user-replies-created,
#bbpress-forums div#bbp-user-engagements,
#bbpress-forums div#bbp-user-favorites {
	display: flex;
	flex-wrap: wrap;
	overflow: unset;
}

.bbp-user-page .bbp-search-form {
	width: 100%;
	order: 2;
}

.bbp-user-page .bbp-search-form form div input[type="text"] {
	border-radius: 5px 0 0 5px;
	height: 40px;
	border-right: 0;
}

.bbp-user-page .bbp-search-form form div input#bbp_search_submit {
	height: 40px;
	border-radius: 0 5px 5px 0;
}

.bbp-user-section .forums.bbp-replies {
	margin-top: 20px;
}

div#bbp-user-topics-started h2.entry-title::first-child,
div#bbp-user-engagements h2.entry-title::first-child,
div#bbp-user-favorites h2.entry-title::first-child,
div#bbp-user-replies-created h2.entry-title::first-child {
	width: 100%;
	order: 1;
}

.bbp-user-page .bbp-user-section {
	width: 100%;
	order: 3;
	overflow: unset;
}

.bbp-user-page .bbp-search-form form div {
	display: flex;
	width: 100%;
	max-width: 300px;
	margin: 15px 0;
	/* margin-bottom: 0; */
	position: relative;
	z-index: 2;
}

#bbpress-forums .bbp-user-section {
	overflow: unset;
}

.bbp-user-section .bbp-single-topic-body > div {
	display: flex;
	flex-wrap: wrap;
}

.ppop-bbp-meta span.bbp-header {
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
	text-transform: capitalize;
}

.ppop-bbp-meta span.bbp-header:before {
	content: "";
	height: 1px;
	width: calc(100% + 40px);
	background: var(--color-layout-border);
	position: absolute;
	left: -20px;
	bottom: 0;
}

.bbp-user-section .bbp-single-topic-body .ppop-bbp-single-topic-content {
	margin-top: -15px;
}

.bbp-user-section .bbp-single-topic-body > div .ppop-bbp-topic-author {
	order: 1;
	padding: 0;
	height: auto;
}

#bbpress-forums .bbp-forum-info #subscription-toggle,
#bbpress-forums .ppop-bbp-topic-content #subscription-toggle,
#bbpress-forums .ppop-bbp-topic-content #favorite-toggle {
	position: absolute;
	right: 15px;
	top: 15px;
}

#bbpress-forums .bbp-forum-info #subscription-toggle a.subscription-toggle,
#bbpress-forums
	.ppop-bbp-topic-content
	#subscription-toggle
	a.subscription-toggle,
#bbpress-forums .ppop-bbp-topic-content #favorite-toggle a.favorite-toggle {
	background: #ebebeb;
	color: #333;
	font-size: 22px;
	padding: 6px;
	height: auto;
	line-height: 13px;
	border: 0;
	border-radius: 50%;
}

#bbpress-forums .bbp-forum-info .bbp-forum-title {
	color: var(--heading-color);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
	display: block;
}

div#bbp-user-subscriptions .ppop-bbp-forums li.forum,
div#bbp-user-favorites .ppop-bbp-forums li.forum {
	width: calc(33.333% - 7.5px);
	margin: 0;
	margin-bottom: 15px;
	position: relative;
}

div#bbp-user-subscriptions .ppop-bbp-topics li.topic,
div#bbp-user-favorites .ppop-bbp-topics li.topic {
	position: relative;
}

@media (min-width: 950px) {
	div#bbp-user-topics-started .bbp-search-form form,
	div#bbp-user-engagements .bbp-search-form form,
	div#bbp-user-favorites .bbp-search-form form,
	div#bbp-user-replies-created .bbp-search-form form,
	div#bbp-user-subscriptions .bbp-search-form form {
		padding: 0 15px;
		/* background: var(--color-layout-3); */
		border-radius: 5px;
		margin: 15px 0;
		border: var(--layout-border);
		display: flex;
		justify-content: flex-end;
		margin-bottom: 0;
	}

	div#bbp-user-subscriptions .bbp-search-form form {
		margin-bottom: 20px;
	}

	div#bbp-user-subscriptions .ppop-bbp-forums {
		justify-content: space-between;
	}

	div#bbp-user-topics-started .bbp-user-section .bbp-pagination:first-child,
	div#bbp-user-engagements .bbp-user-section .bbp-pagination:first-child,
	div#bbp-user-favorites .bbp-user-section .bbp-pagination:first-child,
	div#bbp-user-replies-created .bbp-user-section .bbp-pagination:first-child {
		margin: 0;
		position: relative;
		top: -45px;
		left: 15px;
		z-index: 1;
	}
}

@media (min-width: 768px) {
	fieldset.bbp-form.name,
	fieldset.bbp-form.account {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#bbpress-forums #bbp-your-profile fieldset.bbp-form.name > div,
	#bbpress-forums #bbp-your-profile fieldset.bbp-form.account > div {
		width: 49%;
	}

	#bbpress-forums #bbp-your-profile fieldset.bbp-form.account div#password,
	#bbpress-forums
		#bbp-your-profile
		fieldset.bbp-form.account
		.user-pass2-wrap.hide-if-js,
	#bbpress-forums #bbp-your-profile fieldset.bbp-form.account .pw-weak {
		width: 100%;
		max-width: 500px;
	}
}

@media (max-width: 992px) {
	div#bbp-user-subscriptions .ppop-bbp-forums li.forum {
		width: calc(50% - 7.5px);
	}
}

@media (max-width: 767px) {
	#bbpress-forums #bbp-single-user-details {
		width: 100%;
	}
	#bbpress-forums #bbp-user-body {
		width: 100%;
		padding: 0;
		margin-top: 15px;
	}

	.button.wp-cancel-pw {
		width: 115px;
		margin-left: 10px;
	}

	#bbpress-forums #password #pass-strength-result {
		width: calc(100% - 118px);
	}

	div#bbp-user-subscriptions .ppop-bbp-forums li.forum {
		width: 100%;
	}
}

@media (max-width: 500px) {
	#bbpress-forums
		#bbp-your-profile
		fieldset
		fieldset.password
		.password-input-wrapper {
		display: block;
	}

	.password-input-feild {
		margin-bottom: 15px;
	}

	.button.wp-cancel-pw {
		width: auto;
		margin-left: 0;
	}
}

@media only screen and (max-width: 480px) {
	.bbp-user-page form#bbp-topic-search-form div input#bbp_search_submit {
		font-family: inherit;
		font-size: 15px;
		padding: 10px 30px;
		font-weight: 600;
		font-style: normal;
		text-decoration: none;
	}
}

div.bbp-breadcrumb {
	position: absolute;
	font-size: 0.1px;
	left: -5000px;
}

body.single-topic .ppop-post-title {
	padding: 20px;
	padding-bottom: 20px;
	background: var(--color-layout-1);
	border: var(--layout-border);
	border-bottom: var(--layout-border);
	border-radius: 5px 5px 0 0;
	margin: 0;
}
